{% extends "base.html" %}
{% block title %}Chat room for "{{ course.title }}"{% endblock %}
{% block content %}
<div id="chat">
</div>
<div id="chat-input">
    <input id="chat-message-input" type="text">
    <input id="chat-message-submit" type="submit" value="Send">
</div>
{% endblock %}
{% block include_js %}
{{ course.id|json_script:"course-id" }}

<!--В блоке include_js используется шаблонный фильтр json_script, чтобы-->
<!--безопас но использовать значение course.id с по мощью JavaScript. Предостав- -->
<!--ляемый веб-фреймворком Django шаблонный фильтр json_script выводит-->
<!--объект Python в формате JSON, заключенный в тег <script>, чтобы безопасно-->
<!--его использовать с JavaScript. Исходный код  course.id|json_script:"courseid"-->
<!-- транслируется как <script id="course-id" type="application/json">6-->
<!--</script>. Затем это значение извлекается в блоке domready путем структур- -->
<!--ного разбора содержимого элемента с id="course-id" с по мощью JSON.parse().-->
<!--Это безопасный способ использования объектов Python в JavaScript.-->

{{ course.id|json_script:"course-id" }}
{{ request.user.username|json_script:"request-user" }}
{% endblock %}
{% block domready %}
const courseId = JSON.parse(
document.getElementById('course-id').textContent
);
const requestUser = JSON.parse(
document.getElementById('request-user').textContent
);
const url = 'ws://' + window.location.host +
'/ws/chat/room/' + courseId + '/';
const chatSocket = new WebSocket(url);

<!--В блоке domready определяется URL-адрес с протоколом WebSocket, кото- -->
<!--рый выглядит как ws:// (или wss:// для безопасных веб-сокетов, подобно-->
<!--https://). Далее создается URL-адрес, используя текущее местоположение-->
<!--браузера, которое извлекается из window.location.host. Остальная часть URL- -->
<!--адреса формируется с по мощью пути шаблона URL-адреса чат-комнаты, ко- -->
<!--торый был определен в файле routing.py приложения chat.-->
<!--Здесь URL-адрес пишется вами вместо его формирования с по мощью ре- -->
<!--зольвера, потому что приложение-обертка Channels не предоставляет спосо- -->
<!--ба переворачивания URL-адресов. Вы используете ИД текущего курса, чтобы-->
<!--генерировать URL-адрес текущего курса и сохранять URL-адрес в новой кон- -->
<!--станте с именем url.-->
<!--Затем, применяя инструкцию new WebSocket(url), открывается WebSocket- -->
<!--соединение с сохраненным URL-адресом. Инстанцированный экземпляр-->
<!--объекта WebSocket-клиента назначается новой константе chatSocket.-->
<!--Вы создали WebSocket-потребителя, включили для него маршрутизацию-->

chatSocket.onmessage = function(event) {
const data = JSON.parse(event.data);
const chat = document.getElementById('chat');
const dateOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
const datetime = new Date(data.datetime).toLocaleString('en', dateOptions);
const isMe = data.user === requestUser;
const source = isMe ? 'me' : 'other';
const name = isMe ? 'Me' : data.user;
chat.innerHTML += '
chat.innerHTML += '
<div class="message ' + source + '">' +
    '<strong>' + name + '</strong> ' +
    '<span class="date">' + datetime + '</span><br>' +
    data.message + '
</div>';
chat.scrollTop = chat.scrollHeight;
};
chatSocket.onclose = function(event) {
console.error('Chat socket closed unexpectedly');
};
const input = document.getElementById('chat-message-input');
const submitButton = document.getElementById('chat-message-submit');
submitButton.addEventListener('click', function(event) {
const message = input.value;
if(message) {
// отправить сообщение в формате JSON
chatSocket.send(JSON.stringify({'message': message}));
// очистить поле ввода
input.innerHTML = '';
input.focus();
}
});

<!--В приведенном выше исходном коде для WebSocket-клиента определяются-->
<!--следующие события:-->
<!--• onmessage: запускается при получении данных через веб-сокет. Выпол- -->
<!--няется структурный разбор сообщения, которое ожидается в формате-->
<!--JSON, и берется его атрибут message. Затем в HTML-элемент с ИД чата-->
<!--добавляется новый элемент <div> с полученным сообщением. Таким-->
<!--путем будут добавляться новые сообщения в журнал чата, при этом со- -->
<!--храняя все предыдущие добавленные в журнал сообщения. Журнал чата-->
<!--<div> прокручивается вниз, чтобы новое сообщение стало видимым.-->
<!--Это достигается путем прокручивания до полной высоты журнала чата,-->
<!--которую можно получить, обратившись к его атрибуту scrollHeight;-->
<!--• onclose: срабатывает при закрытии соединения с веб-сокетом. Закры- -->
<!--тие соединения не ожидается, и, следовательно, в случае если это про- -->
<!--изойдет, в журнал консоли пишется ошибка Chat socket closed unexpectedly.-->

<!--В приведенном выше исходном коде определяется прослушиватель собы- -->
<!--тия click кнопки передачи на обработку, которая идентифицируется по ее ИД-->
<!--chat-message-submit. При нажатии кнопки выполняются следующие действия:-->
<!--1. Из поля ввода текста с ИД chat-message-input читается введенное поль- -->
<!--зователем сообщение.-->
<!--2. С помощью булева выражения if(message) проверяется наличие у со- -->
<!--общения какого-либо содержимого.-->
<!--3. Если пользователь ввел сообщение, то с по мощью метода JSON.stringify()-->
<!--формируется содержимое JSON, например {'message': 'string-->
<!--entered by the user'}.-->
<!--4. Содержимое JSON отправляется через веб-сокет, вызывая метод send()-->
<!--клиента chatSocket.-->
<!--5. Содержимое поля ввода текста очищается, устанавливая его равным-->
<!--пустому строковому значению посредством инструкции input.innerHTML-->
<!--= ''.-->
<!--6. С помощью метода input.focus() фокус возвращается к полю ввода тек- -->
<!--ста, чтобы пользователь мог сразу написать новое сообщение.-->

input.addEventListener('keypress', function(event) {
if (event.key === 'Enter') {
// отменить стандартное действие,
// если необходимо
event.preventDefault();
// запустить событие нажатия клавиши
submitButton.click();
}
});
input.focus();

<!--В приведенном выше исходном коде также определяется функция события-->
<!--keypress в элементе input. Любая нажатая пользователем клавиша пропуска- -->
<!--ется через проверку на нажатие клавиши Enter. При этом с по мощью метода-->
<!--event.preventDefault() предотвращается стандартное для этой клавиши по- -->
<!--ведение. Если нажата клавиша Enter, то запускается событие click на кнопке-->
<!--submitButton, чтобы отправить сообщение в веб-сокет.-->
<!--Вне обработчика событий, в главном исходном коде JavaScript блока domready,-->
<!--фокус передается полю ввода текста с по мощью метода input.focus().-->
<!--Таким образом, сразу после загрузки DOM фокус будет устанавливаться на-->
<!--элемент ввода текста, чтобы пользователь мог вводить сообщение.-->


{% endblock %}